{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{% set criterionFieldset = form.get('evaluation_entity_report_criterion') %}

{{ lbs5formelement(criterionFieldset.get('sequence')) }}
{{ lbs5formelement(criterionFieldset.get('criterion')) }}
{{ lbs5formelement(criterionFieldset.get('helpBlock')) }}
{{ lbs5formelement(criterionFieldset.get('inputType')) }}
{{ lbs5formelement(criterionFieldset.get('values')) }}
{{ lbs5formelement(criterionFieldset.get('reportTypes')) }}
{{ lbs5formelement(criterionFieldset.get('hasScore')) }}
{{ lbs5formelement(criterionFieldset.get('archived')) }}
{{ formelement(form.get('csrf')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ formelement(form.get('submit')) }}
        {{ formelement(form.get('cancel')) }}
        {% if form.has('delete') %}
            {{ formelement(form.get('delete')) }}
        {% endif %}
    </div>
</div>
{{ form().closeTag()|raw }}
