{% do headTitle().append(translate("txt-review-roster")).append(translate("txt-admin")) %}

{{ form().openTag(form)|raw }}

<h1>{{ translate("txt-review-roster") }}</h1>

{{ lbs5formelement(form.get('type')) }}
{{ lbs5formelement(form.get('online')) }}
{{ lbs5formelement(form.get('excel')) }}
{{ lbs5formelement(form.get('nr')) }}
{{ lbs5formelement(form.get('include-spare')) }}
{{ lbs5formelement(form.get('projects')) }}

<div class="col-md-9 offset-md-3">
    {{ lbs5formelement(form.get('submit')) }}
</div>

{{ form().closeTag()|raw }}