{% do headTitle().append(translate('txt-nav-review-management')).append(translate("txt-admin")) %}

{{ form().openTag(form)|raw }}

{{ ztbformelement(form.get('data')) }}

<div class="form-group row">
    <div class="offset-md-3 col-md-9">
        {{ ztbformelement(form.get('check')) }}
        {{ formreset(form.get('reset')) }}
        <span class="pull-right">{{ projectReviewLink(null,'export','button') }}</span>
    </div>
</div>

{% if parsedData %}
    <h1>{{ translate('txt-import-summary') }}</h1>
    <div class="row">
        <div class="col-sm-2"><strong>{{ translate('txt-project') }}</strong></div>
        <div class="col-sm-10">
            {% if parsedData.project %}
                {{ projectLink(parsedData.project, 'view-admin', 'name') }}
            {% else %}
                <span class="text-danger"><i class="fa fa-exclamation-triangle"
                                             aria-hidden="true"></i> {{ translate('txt-project-not-found') }}</span>
            {% endif %}
        </div>
    </div>

    <h2>{{ translate('txt-project-version-reviews') }}</h2>
    {% if (parsedData.versions.data is not empty) or (parsedData.versions.unmatched is not empty) %}
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>{{ translate('txt-line') }}</th>
                <th>{{ translate('txt-version') }}</th>
                <th>{{ translate('txt-reviewers') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for versionType, versionData in parsedData.versions.data %}
                {% for line, data in versionData %}
                    <tr{% if data.version is null %} class="danger"{% endif %}>
                        <td><strong>{{ '%02d'|format(line) }}</strong></td>
                        <td>{% if data.version is null %}
                                <i class="fa fa-exclamation-triangle"
                                   aria-hidden="true"></i> {{ versionType }}: {{ translate('txt-version-not-found') }}
                            {% else %}
                                {{ versionLink(data.version, 'view-admin', 'description') }}
                            {% endif %}
                        </td>
                        <td>
                            {% for reviewContact in data.reviewers %}
                                {{ contactLink(reviewContact.getContact(), 'view-admin') }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            {% for version in parsedData.versions.unmatched %}
                <tr class="info">
                    <td><strong>?</strong></td>
                    <td>{{ versionLink(version, 'view-admin', 'description') }}</td>
                    <td><i class="fa fa-info-circle" aria-hidden="true"></i> {{ translate('txt-no-data-found') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-info"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ translate('txt-no-data-found') }}
        </p>
    {% endif %}

    <h2>{{ translate('txt-project-reviews') }}</h2>
    {% if (parsedData.reviews.data is not empty) or (parsedData.reviews.unmatched is not empty) %}
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>{{ translate('txt-line') }}</th>
                <th>{{ translate('txt-meeting') }}</th>
                <th>{{ translate('txt-reviewers') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for line, data in parsedData.reviews.data %}
                <tr{% if data.projectCalendar is null %} class="danger"{% endif %}>
                    <td><strong>{{ '%02d'|format(line) }}</strong></td>
                    <td>{% if data.projectCalendar is null %}
                            <i class="fa fa-exclamation-triangle"
                               aria-hidden="true"></i> {{ translate('txt-calendar-item-not-found') }}
                        {% else %}
                            {{ calendarLink(data.projectCalendar.getCalendar(), 'view-admin') }}
                        {% endif %}
                    </td>
                    <td>
                        {% for reviewContact in data.reviewers %}
                            {{ contactLink(reviewContact.getContact(), 'view-admin') }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            {% for projectCalendar in parsedData.reviews.unmatched %}
                <tr class="info">
                    <td><strong>?</strong></td>
                    <td>{{ calendarLink(projectCalendar.getCalendar(), 'view-admin') }}</td>
                    <td><i class="fa fa-info-circle" aria-hidden="true"></i> {{ translate('txt-no-data-found') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-info"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ translate('txt-no-data-found') }}
        </p>
    {% endif %}

    <h2>{{ translate('txt-project-reports') }}</h2>
    {% if (parsedData.reports.data is not empty) or (parsedData.reports.unmatched is not empty) %}
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>{{ translate('txt-line') }}</th>
                <th>{{ translate('txt-report') }}</th>
                <th>{{ translate('txt-reviewers') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for line, data in parsedData.reports.data %}
                <tr{% if data.report is null %} class="danger"{% endif %}>
                    <td><strong>{{ '%02d'|format(line) }}</strong></td>
                    <td>{% if data.report is null %}
                            <i class="fa fa-exclamation-triangle"
                               aria-hidden="true"></i> {{ translate('txt-report-not-found') }}
                        {% else %}
                            {{ reportLink(data.report, 'report-admin', 'name') }}
                        {% endif %}
                    </td>
                    <td>
                        {% for reviewContact in data.reviewers %}
                            {{ contactLink(reviewContact.getContact(), 'view-admin') }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            {% for report in parsedData.reports.unmatched %}
                <tr class="info">
                    <td><strong>?</strong></td>
                    <td>{{ reportLink(data.report, 'report-admin', 'name') }}</td>
                    <td><i class="fa fa-info-circle" aria-hidden="true"></i> {{ translate('txt-no-data-found') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-info"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ translate('txt-no-data-found') }}
        </p>
    {% endif %}

    <h2>{{ translate('txt-misc-reviewers') }}</h2>
    {% if not parsedData.projectReviewers.data is empty %}
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>{{ translate('txt-line') }}</th>
                <th>{{ translate('txt-type') }}</th>
                <th>{{ translate('txt-reviewers') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for type, reviewData in parsedData.projectReviewers.data %}
                {% for line, data in reviewData %}
                    <tr>
                        <td><strong>{{ '%02d'|format(line) }}</strong></td>
                        <td>{{ data.type.getDescription() }} ({{ type }})</td>
                        <td>
                            {% for reviewContact in data.reviewers %}
                                {{ contactLink(reviewContact.getContact(), 'view-admin') }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-info"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ translate('txt-no-data-found') }}
        </p>
    {% endif %}

    {% if not parsedData.unparsed is empty %}
        <h2>{{ translate('txt-ignored-data') }}</h2>
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>{{ translate('txt-line') }}</th>
                <th>{{ translate('txt-key') }}</th>
                <th>{{ translate('txt-values') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for key, lineData in parsedData.unparsed %}
                {% for line, data in lineData %}
                    <tr>
                        <td><strong>{{ '%02d'|format(line) }}</strong></td>
                        <td>{{ key }}</td>
                        <td>
                            {% for item in data %}
                                {{ item }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div>
        {{ ztbformelement(form.get('submit')) }}
    </div>
{% endif %}

{{ form().closeTag()|raw }}