{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-create-new-evaluation-report-version")) %}

<h1>{{ translate("txt-create-new-evaluation-report-version") }}</h1>
<p class="lead">{{ translate("txt-copied-from") }} {{ report2VersionLink(reportVersion,'view') }}</p>
<h2>{{ translate("txt-general") }}</h2>
{% include 'project/partial/form/evaluation/report2-version' %}

<h2>{{ translate("txt-criteria") }}</h2>
{% include 'project/evaluation/report2-version/partial/criteria' with {'readonly': true} %}