{% for criterionVersion in sortedCriteria %}
    {% set currentType = criterionVersion.type.type %}
    {% if currentType != activeType %}
        {% set activeType = currentType %}
        {% if loop.index > 1 %}
            </tbody>
            </table>
        {% endif %}
        {% set currentCategory = criterionVersion.type.category.category %}
        {% if currentCategory != activeCategory %}
            <h3{% if loop.index > 1 %} class="mt-5"{% endif %}><small
                        class="text-muted">{{ criterionVersion.type.category.sequence }}:
                </small> {{ currentCategory }} {{ reportCriterionCategoryLink(criterionVersion.type.category, 'edit','icon') }}
            </h3>
            {% set activeCategory = currentCategory %}
        {% endif %}
        <h4><span class="badge bg-secondary"><small>{{ criterionVersion.type.sequence }}:
                </small> {{ currentType }}</span> {{ reportCriterionTypeLink(criterionVersion.type, 'edit','icon') }}
        </h4>
        <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{{ translate("txt-id") }}</th>
            <th>{{ translate("txt-sequence") }}</th>
            <th>{{ translate("txt-criterion") }}</th>
            <th>{{ translate("txt-default-value") }}</th>
            <th>{{ translate("txt-topics") }}</th>
            <th>{{ translate("txt-input-type") }}</th>
            <th>{{ translate("txt-has-score") }}</th>
            <th>{{ translate("txt-required") }}</th>
            <th>{{ translate("txt-confidential") }}</th>
            <th>{{ translate("txt-highlighted") }}</th>
        </tr>
        </thead>
        <tbody>
    {% endif %}
    <tr{% if criterionVersion.highlighted %} class="table-warning"{% endif %}>
        <td><small class="text-muted">{{ criterionVersion.id }}</small>
            {% if not reportVersion.archived and not readonly %}
                {{ reportCriterionVersionLink(criterionVersion, 'edit', 'icon') }}
            {% endif %}
        </td>
        <td>{{ criterionVersion.sequence }}</td>
        <td>{% if criterionVersion.criterion.archived %}
                <del>{{ reportCriterionVersionLink(criterionVersion, 'view', 'name') }}</del>
            {% else %}
                {{ reportCriterionVersionLink(criterionVersion, 'view', 'name') }}
            {% endif %}
        </td>
        <td>{{ criterionVersion.defaultValue|length > 10 ? criterionVersion.defaultValue|slice(0, 10) ~ '…' : criterionVersion.defaultValue|default('-')  }}</td>
        <td>{% for versionTopic in criterionVersion.versionTopics %}
                {{ reportCriterionTopicLink(versionTopic.topic, 'view', 'name') }} ({{ versionTopic.weight }})
                {% if not loop.last %}<br>{% endif %}
            {% else %}
                -
            {% endfor %}</td>
        <td>{{ translate(criterionVersion.criterion.parseInputType()) }}</td>
        <td>{% if criterionVersion.criterion.hasScore %}{{ translate("txt-yes") }}{% else %}{{ translate("txt-no") }}{% endif %}</td>
        <td>{% if criterionVersion.required %}{{ translate("txt-yes") }}{% else %}{{ translate("txt-no") }}{% endif %}</td>
        <td>{% if criterionVersion.confidential %}{{ translate("txt-yes") }}{% else %}{{ translate("txt-no") }}{% endif %}</td>
        <td>{% if criterionVersion.highlighted %}{{ translate("txt-yes") }}{% else %}{{ translate("txt-no") }}{% endif %}</td>
    </tr>
    {% if loop.last %}
        </tbody>
        </table>
    {% endif %}
{% else %}
    {{ lbs5alert().info(translate("txt-no-criteria-could-be-found"))|raw }}
{% endfor %}