{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-evaluation")) %}
{% do headTitle().append(translate("txt-evaluation-report-window-list")) %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{% set filter = form.get('filter') %}

<h1>{{ translate("txt-evaluation-report-window-list") }} {{ report2WindowLink(null,'new','button') }}</h1>

<div class="row">
    <div class="col-md-6">
        <p class="lead">{{ translate("txt-evaluation-report-window-list-explanation") }}</p>
    </div>
    <div class="col-md-6">
        <div class="input-group">
            {{ formelement(filter.get('search')) }}
            <div class="input-group-append input-group-btn">
                {{ formelement(form.get('submit')) }}
            </div>
        </div>
    </div>
</div>

{% if paginator.pageRange > 0 %}
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/evaluation/report2/window/list', 'criteria': 'id', 'text': translate('txt-id')} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/evaluation/report2/window/list', 'criteria': 'title', 'text': translate('txt-title')} %}</th>
            <th>{{ translate('txt-report-versions') }}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/evaluation/report2/window/list', 'criteria': 'report-start', 'text': translate("txt-report-start-date")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/evaluation/report2/window/list', 'criteria': 'report-end', 'text': translate("txt-report-end-date")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/evaluation/report2/window/list', 'criteria': 'selection-start', 'text': translate("txt-selection-start-date")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/evaluation/report2/window/list', 'criteria': 'selection-end', 'text': translate("txt-selection-end-date")} %}</th>
        </tr>
        </thead>
        <tbody>
        {% for window in paginator.getCurrentItems() %}
            <tr>
                <td>{{ window.id }} {{ report2WindowLink(window,'edit','icon') }}</td>
                <td>{{ report2WindowLink(window,'view','name') }}</td>
                <td>{% for reportVersion in window.reportVersions %}
                        {{ report2VersionLink(reportVersion, 'view') }}
                        {% if not loop.last %}<br>{% endif %}
                    {% else %}
                        -
                    {% endfor %}
                </td>
                <td>{{ window.dateStartReport|date('d-m-Y') }}</td>
                <td>{% if window.dateEndReport %}{{ window.dateEndReport|date('d-m-Y') }}{% else %}-{% endif %}</td>
                <td>{{ window.dateStartSelection|date('d-m-Y') }}</td>
                <td>{% if window.dateEndSelection %}{{ window.dateEndSelection|date('d-m-Y') }}{% else %}-{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'application/partial/pagination-control' %}
{% else %}
    {{ ztbalert().info(translate("txt-no-evaluation-report-time-windows-could-be-found"))|raw }}
{% endif %}


{{ form().closeTag()|raw }}

